# Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized in a way that allows for efficient storage, retrieval, and management of that data. Databases are used to store and manage various types of data, such as customer information, financial transactions, and inventory.

### SQL databases

SQL databases, also known as relational databases, are based on the relational model and use structured query language (SQL) for managing data. SQL databases store data in tables, which consist of rows and columns. Data is stored in a way that maintains the relationship between the tables. SQL databases are widely used in traditional enterprise applications and are known for their ability to handle complex transactions, data integrity, and scalability.

### NoSQL databases

NoSQL databases, on the other hand, are designed for unstructured data and do not use the traditional relational model. NoSQL databases use various data models, such as key-value, document, and graph, to store and manage data. They are more flexible than SQL databases and are better suited for handling large amounts of unstructured data. NoSQL databases are commonly used in web applications and big data analytics.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is a subset of SQL that is used to define and manage the structure of database objects, such as tables, indexes, and views. DDL commands are used to create, modify, and delete these objects in a database.

### CREATE

CREATE is used to create a new database object, such as a table or view.

Example


CREATE TABLE customers (
   id INT PRIMARY KEY,
   name VARCHAR(50),
   email VARCHAR(50)
);

### DROP

DROP is used to delete an existing database object, such as a table or view. 
Example

DROP TABLE customers;

### ALTER

ALTER is used to modify the structure of an existing database object, such as a table or view. 

Example:

ALTER TABLE customers ADD COLUMN phone VARCHAR(15);

### TRUNCATE

TRUNCATE is used to delete all the data from an existing table. It is similar to the DELETE command, but it is faster because it does not log each row deletion. 

Example:

TRUNCATE TABLE customers;

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Answer: DML stands for Data Manipulation Language, which is a subset of SQL used to manipulate the data stored in a database. DML commands are used to insert, update, and delete data from database tables.

INSERT: This command is used to insert new data into a table.

Example: INSERT INTO customers (name, email, phone) VALUES ('Pavan', 'Pavan@gmail.com', '123-456-7890');

UPDATE: This command is used to modify existing data in a table.

Example: UPDATE customers SET email ='Pavan@gmail.com' WHERE name = 'Pavan';

DELETE: This command is used to delete one or more rows from a table.

Example: DELETE FROM customers WHERE name = 'Pavan';

### Q4. What is DQL? Explain SELECT with an example.

Answer:DQL stands for Data Query Language, which is a subset of SQL used to query or retrieve data from a database. The most commonly used DQL command is SELECT, which is used to retrieve data from one or more tables in a database.

Example1: SELECT * FROM employees;

Example2: SELECT name, salary FROM employees;

Example3: SELECT name, salary FROM employees WHERE age > 30;

### Q5. Explain Primary Key and Foreign Key.

Answer: In a relational database, a primary key is a column or set of columns in a table that uniquely identifies each row in the table. The primary key enforces data integrity and ensures that each row in the table is unique. The primary key can be a single column or a combination of columns. The primary key is used as a reference by other tables to create relationships with the table that has the primary key.

For example, suppose we have two tables: "orders" and "customers". The "orders" table has a column called "order_id", which is the primary key of the table. The "customers" table also has a column called "customer_id", which is the primary key of the table. The "orders" table has a column called "customer_id", which is a foreign key that refers to the "customer_id" column in the "customers" table. The foreign key creates a relationship between the "orders" and "customers" tables.

A foreign key is a column or set of columns in a table that refers to the primary key of another table. The foreign key creates a relationship between two tables, where the foreign key table is the child table and the primary key table is the parent table. The foreign key is used to ensure data consistency between the child and parent tables.

For example, in the "orders" and "customers" tables, the "customer_id" column in the "orders" table is a foreign key that refers to the "customer_id" column in the "customers" table. The foreign key ensures that the "customer_id" values in the "orders" table correspond to valid "customer_id" values in the "customers" table.

In summary, a primary key is a column or set of columns that uniquely identifies each row in a table, while a foreign key is a column or set of columns in a table that refers to the primary key of another table. The primary key is used to create relationships with other tables, while the foreign key is used to ensure data consistency between related tables.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Answer: The cursor() method creates a cursor object, which is used to execute SQL queries and fetch data from the database. The cursor object provides methods such as execute(), fetchone(), and fetchall() to interact with the database.

The execute() method is used to execute an SQL query. The SQL query is passed as an argument to the execute() method. The execute() method returns None. After executing an SQL query, we can fetch the data using the fetchone() or fetchall() method of the cursor object. The fetchone() method returns one row at a time, while the fetchall() method returns all the rows in the result set as a list of tuples.

In [ ]:
import mysql.connector


mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password",
  database="database"
)

# Creating a cursor object
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM customers")

for row in mycursor.fetchall():
    print(row)

### Q7. Give the order of execution of SQL clauses in an SQL query.

Answer: The order of execution of SQL clauses in an SQL query is as follows:

FROM - Specifies the table or tables from which to retrieve data.

JOIN - Combines rows from two or more tables based on a related column between them.

WHERE - Filters the rows based on a specified condition.

GROUP BY - Groups the rows based on one or more columns.

HAVING - Filters the groups based on a specified condition.

SELECT - Selects the columns to be returned in the result set.

DISTINCT - Removes duplicate rows from the result set.

ORDER BY - Sorts the rows in the result set based on one or more columns.

LIMIT - Limits the number of rows returned in the result set.

It's important to note that not all clauses are required in every SQL query, and the order of the clauses can be changed depending on the specific query. However, in general, this is the logical order of execution for a typical SELECT statement.