Q1. What are the characteristics of the tuples? Is tuple immutable?
Answer : Tuples are an ordered collection of elements of different data types. tuples are enclosed in () brackets.
tuples are immutable which means unchangeable and allow duplicate values.

Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why
    tuples have only two in-built methods as compared to Lists.
Answer : count() and index() are the 2 in-built tuple methods in python.Tuples are immutable so there are only 2 in-built methods whereas List are mutable so there are more methods for Lists such as append,extend,pop etc.

Below are examples for index() and count() in tuple.

In [1]:
## index()
t1=(1,2,3,4,3,4,3)
t1.index(3) # this will show only first occurence of 3

2

In [2]:
t2=(1,1,1,2,3,4,5,3,2,4,6)
t2.count(3) # this will show how many times 3 is present in t2

2

Q3. Which collection datatypes in python do not allow duplicate items? 

Answer: Set does not support duplicate items

Write a code using a set to remove
duplicates from the given list.

In [5]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
s1=set(List)
s1

{1, 2, 3, 4}

Q4. Explain the difference between the union() and update() methods for a set. Give an example of
each method.

Answer : union()- The union of two sets returns a new set that contains distinct elements from both sets.
Update() - adds all missing elements to the set on which it is called

Below are Examples

In [7]:
s1={1,2,3,4}
s2={1,2,5,6}
print(s1.union(s2))
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4}
{1, 2, 5, 6}

In [8]:
s3={1,2,3,4}
s4={1,2,5,6}
print(s3.update(s4))
print(s3)
print(s4)

None
{1, 2, 3, 4, 5, 6}
{1, 2, 5, 6}

Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

Answer : The dictionary is an unordered collection that contains key:value pairs separated by commas inside curly brackets.it is mutable

Below is the example for dictionary data structure.

In [10]:
dict1={"name":"Jayasree","age":27,"working_experience":6,"company":"L&T Infotech","role":"data engineer"}
dict1

{'name': 'Jayasree',
 'age': 27,
 'working_experience': 6,
 'company': 'L&T Infotech',
 'role': 'data engineer'}

Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level
nested dictionary.

In [11]:
customer_details = {
  "customer1" : {
    "name" : "jaya",
    "date_of_birth" : 1995
  },
  "customer2" : {
    "name" : "shasi",
    "item_bought" : "mobile"
  },
  "customer3" : {
    "name" : "Jayasree",
    "type" : "Retail"
  }
}
customer_details

{'customer1': {'name': 'jaya', 'date_of_birth': 1995},
 'customer2': {'name': 'shasi', 'item_bought': 'mobile'},
 'customer3': {'name': 'Jayasree', 'type': 'Retail'}}

Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of
the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [3]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
dict1.setdefault("topics",["Python","Machine Learning","Deep Learning"])
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display
these three view objects for the given dictionary.
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

Answer: keys, values and items are the three view objects in dictionary . keys(),values() and items() are the three in-built methods in python to display three view objects of adictionary

In [5]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['Sport', 'Teams'])
dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])
dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])